.container{
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}

.border-bottom{
    border-bottom: solid $grey-1 1px;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

.pos-fix{
    position: fixed;
}

.fa-chevron-down{
    font-size: 0.6rem;
    padding-left: 5px;
    color: $grey-1;
}

.invisible{
    display: none;
}
