.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.border-bottom{
    border-bottom: solid $grey-1 1px;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}