//font set
$font-1: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-2: Verdana, Geneva, Tahoma, sans-serif;
$font-3: Georgia, 'Times New Roman', Times, serif;
$font-4: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

//font styles
@mixin font-1{
    font-family: $font-4;
    color: $black;
    font-size: 1.2rem;
    word-spacing: 0.05rem;
    letter-spacing: 0.01rem;
    padding: 15px;
}

@mixin font-2{
    display: block;
    font-family: $font-1;
    color: $black;
    font-size: 0.7rem;
    letter-spacing: 0.02rem;
    padding: 10px 15px;
    text-transform: uppercase;
}

@mixin font-3{
    display: block;
    font-family: $font-4;
    color: $white;
    font-size: 0.9rem;
    padding: 25px 15px;
    text-transform: uppercase;
}

@mixin font-4{
    display: block;
    font-family: $font-4;
    color: $black;
    font-size: 1.1rem;
    padding: 10px 0;
}

@mixin font-5{
    display: block;
    font-family: $font-4;
    color: $black;
    font-size: 1rem;
    padding: 5px 0;
}
